
.logo {
    margin: 0px 30px;
    width: 450px;
    display: inline-block;
}
.sub_logo{
    width:150px;
}
.twitter_feed{
    text-align: center;
}
.twitter_well{
    margin-left: 15px;
}
.twitter_btn{
    background-color: aquamarine;
    padding: 10px;
    width: 80%;
    border: 1px solid;

}
body{
    overflow: hidden;
}